<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="customers.component.css">
</head>

<body>

    <button id="guzik" class="btn btn-danger" [style.backgroundColor]="isActive ? 'pink' : 'darkmagenta' ">Is
        Active? -
        color</button>
    <br>
    <div (click)="onDivClicked()">
        <button id="guzik1" (click)="onSave($event)" class="btn btn-danger">I want to break free</button>
    </div>

    <!-- input to write in -->
    <input placeholder="press enter" type="text" (keyup.enter)="onKeyUp()">

    <input [(ngModel)]="email" (keyup.enter)="onKeyUpEmail()">


    <div id="details">
        <br>
        <b> {{customer.title | uppercase}}</b>
        <br>
        Amount of available rooms:
        {{customer.rooms | number}}
        <br>
        Price per night:
        {{customer.price | currency: 'PLN ':true: '3.0-0' }}
        <br>
        Customer rating:
        {{customer.rating | number: '1.1-1'}}
        <br>
        Free Day:
        {{customer.freeDate | date: 'shortDate'}}
    </div>

    <b>Hotel description:</b>
    <br>
    {{text | summary :40}}




</body>

</html>