<h2 class="text-center">WELCOME TO OUR HOTEL</h2>
<div class="myphotos">
    <div class="text-center">
        <img src="assets/img/hotel1.jpg" class="rounded" alt="my hotel" id="myhotelpic">
    </div>

    <div>
        <button class="btn btn-danger" routerLinkActive="active active current">Photos of our satisfied
            customers:</button> <a routerLink="id">
            <br>
            <img src="assets/img/customer.jpg" alt="customer Marcin" height="300" width="500" class="images"
                id="marcin">
            <img src="assets/img/customer1.jpg" class="images" height="300" width="500" id="ja">
            <img src="assets/img/customer2.jpg" class="images" height="300" width="500" id="hadrian">
        </a>

    </div>
</div>