<h3>Reservstions from last week:</h3>
<div>
    <table class="table table-hover">
        <thead class="table-danger">
            <tr>
                <td>ID</td>
                <td>Customer</td>
                <td>Room Type</td>
                <td>Room Number</td>
                <td>Room Check-in-Date</td>
                <td>Room Check-out-Date</td>
                <td>Price</td>
                <td>Status</td>
                <td>Date Updated</td>
                <td>Notes</td>
            </tr>
        </thead>
        <tbody>

            <!-- This ruturn elements of tables like customer name -->
            <tr *ngFor="let reservation of reservations">
                <td> {{reservation.id | number }}</td>
                <td> {{reservation.customer.firstName }} {{reservation.customer.lastName}}</td>
                <td> {{reservation.roomType}}</td>
                <td> {{reservation.room | number}}</td>
                <td> {{reservation.dateArrival | date: 'shortDate' | date: 'dd/MM/yyyy' }}</td>
                <td> {{reservation.dateDeparture | date: 'shortDate' | date: 'dd/MM/yyyy' }}</td>
                <td>{{reservation.paymentAmount | currency: "PLN"}}</td>
                <td>{{reservation.status}}</td>
                <td>{{reservation.dateUpdated | date: 'longDate' | date: 'dd/MM/yyyy'}}</td>
                <td>{{reservation.notes}}</td>
            </tr>
        </tbody>
    </table>
</div>