<div class="container">
    <div class="row justify-content-center">
        <form [formGroup]="form" class="col-md-5">
            <h3>Reservation form: </h3>
            <div class="form-group" class="mx-auto">
                <label for="name">Customer Name</label>
                <input formControlName="name" id="name" type="text" class="form-control">
                <div *ngIf="name?.pending">Cheking for unique...</div>
                <!-- 96 filmik coś mi nie działa -->
                <div *ngIf="name?.touched && name?.invalid" class="alert alert-danger">
                    <div *ngIf="name?.errors?.['required']">Name required</div>
                    <div *ngIf="name?.errors?.['minlength']">Min 3 letters</div>
                    <div *ngIf="name?.errors?.['cannotContainSpace']">Name can not contain space</div>
                    <div *ngIf="name?.errors?.['shouldBeUnique']">Name should be unique</div>

                </div>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input formControlName="price" id="price" type="text" class="form-control">
                <div *ngIf="price?.touched && price?.invalid" class="alert alert-danger">
                    <div *ngIf="price?.errors?.['required']">Price required</div>
                    <div *ngIf="price?.errors?.['min']">At least 9PLN</div>
                </div>
            </div>
            <button class="btn btn-danger" type="submit">Sign Up</button>

        </form>
    </div>
</div>