<div class="container">
    <div class="row justify-content-center">
        <form [formGroup]="reservationForm" (ngSubmit)="onSubmit(reservationForm)" class="col-md-5">

            <h3>Reservation form: </h3>
            <div class="form-row">
                <!-- ID -->
                <div class="col">
                    <label for="id">Id</label>
                    <input formControlName="id" type="text" class="form-control">
                </div>

                <!-- CustomerId -->
                <div class="col">
                    <label for="CustomerId">Customer Id</label>
                    <input formControlName="customerId" type="text" class="form-control">

                </div>
            </div>

            <!-- ROOM TYPE -->
            <div class="form-row">
                <div class="col">
                    <label for="roomType">Room type</label>
                    <select id="roomType" name="roomType" formControlName="roomType" class="form-control"
                        (change)="updateRoomNumbers()" required>
                        <option value="0">Select one...</option>
                        <option *ngFor="let roomType of roomTypes" [value]="roomType">{{ roomType }}</option>
                    </select>
                </div>

                <!-- ROOM NUMBER -->
                <div class="col">
                    <label for="room">Room number</label>
                    <select id="room" name="room" formControlName="room" class="form-control" required>
                        <option value="0">Select one...</option>
                        <option *ngFor="let roomNumber of roomNumbers" [value]="roomNumber.id">{{ roomNumber.name }}
                        </option>
                    </select>
                </div>
            </div>


            <!-- DATES -->
            <div class="form-row">
                <div class="col">
                    <label>Arrival</label>
                    <input type="date" formControlName="dateArrival" id="dateArrival" class="form-control">
                </div>
                <div class="col">
                    <label>Departure</label>
                    <input type="date" formControlName="dateDeparture" id="dateDeparture" class="form-control">
                </div>
            </div>
            <!-- TOUR -->
            <div class="form-group">
                <label for="tour">Select Tour:</label>
                <select id="tour" name="tour" formControlName="selectTour" class="form-control">
                    <option value="0">Choose a Tour...</option>
                    <option *ngFor="let tour of tours" [value]="tour.id">{{ tour.name }} {{tour.price}}</option>
                </select>
            </div>

            <!-- COMMENT -->
            <div class="form-group">
                <label for="notes">Notes</label>
                <textarea formControlName="notes" name="notes" id="notes" cols="56" rows="10"
                    class="form-control"></textarea>
            </div>

            <!-- NOTES -->
            <button class="btn btn-danger" type="submit">Sign Up</button>

        </form>
    </div>
</div>