<div class="container">
    <div class="row justify-content-center">
        <form [formGroup]="form" (ngSubmit)="SaveData()" class="col-md-5">
            <h3>Reservation form: </h3>
            <div class="form-group" class="mx-auto">
                <!-- CUSTOMER -->
                <label for="name">Customer full name</label>
                <input formControlName="name" id="name" type="text" class="form-control">

                <!-- 96 filmik coś mi nie działa -->
                <div *ngIf="name?.touched && name?.invalid" class="alert alert-danger">
                    <div *ngIf="name?.errors?.['required']">Name required</div>
                    <div *ngIf="name?.errors?.['minlength']">Min 3 letters</div>

                </div>
            </div>
            <!-- ROOM TYPE -->
            <div class="form-row">
                <div class="col">
                    <label for="roomType">Room type</label>
                    <select formControlName="roomType" id="roomType" type="text" class="form-control" required>
                        <option value="">Select one...</option>
                        <option value="sinlge">Single</option>
                        <option value="double">Double</option>
                        <option value="triple">Triple</option>
                    </select>
                    <div *ngIf="roomType?.touched && roomType?.invalid" class="alert alert-danger">
                        <div *ngIf="roomType?.errors?.['required']">Room type required</div>
                    </div>
                </div>


                <!-- ROOM NUMBER -->
                <div class="col">
                    <label>Room number</label>
                    <input formControlName="roomNumber" id="roomNumber" type="text" class="form-control">
                    <div *ngIf="roomNumber?.touched && roomNumber?.invalid" class="alert alert-danger">
                        <div *ngIf="roomNumber?.errors?.['required']">Room number is required</div>
                        <div *ngIf="roomNumber?.errors?.['cannotContainSpace']">Can not contain space</div>

                    </div>
                </div>

                <!-- PRICE -->
                <div class="col">
                    <label for="price">Price</label>
                    <input formControlName="price" id="price" type="text" class="form-control">
                    <div *ngIf="price?.touched && price?.invalid" class="alert alert-danger">
                        <div *ngIf="price?.errors?.['required']">Price is required</div>
                        <div *ngIf="price?.errors?.['min']">At least 9PLN</div>
                    </div>
                </div>
            </div>


            <!-- COMMENT -->
            <div class="form-group">
                <label for="comment">Comment</label>
                <textarea formControlName="comment" name="comment" id="comment" cols="56" rows="10"
                    class="form-control"></textarea>
            </div>

            <!-- NOTES -->

            <button class="btn btn-danger" type="submit">Sign Up</button>

        </form>
    </div>
</div>